---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import {Toaster} from 'sonner'
import ProjectsSection from '@/components/ProjectsSection.astro';
import GithubIntegration from '@/components/GithubIntegration.astro';
import ContactForm from '@/components/ContactForm.astro';
import DiscoverMore from '@/components/DiscoverMore.astro';
import AboutMeSection from '@/components/AboutMeSection.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro'
---

<Layout title="Edward Akapo">
	<main>
		<Toaster 
			client:idle
			position="top-center"
		/>
		<!-- <Header /> -->
		<div class="main-div">
			<!-- <AboutMeSection /> -->
			<ProjectsSection />
			<!-- <GithubIntegration />
			<DiscoverMore />
			<ContactForm />
			<Footer /> -->
		</div>
	</main>
</Layout>

<style>
	main {
		font-family: "Arimo";
		padding-top: 3rem;

	}
	.main-div {
		margin: auto;
		padding-top: 21rem;
		padding-bottom: 21rem;
		max-width: 900px;
		display: flex;
		flex-direction: column;
		row-gap: 150px;
		/* transition: padding-top 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
		transition: padding-top 0.4s ease;
	}




</style>
