---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import {Toaster} from 'sonner'
import ProjectsSection from '@/components/ProjectsSection.astro';
import GithubIntegration from '@/components/GithubIntegration.astro';
import ContactForm from '@/components/ContactForm.astro';
import DiscoverMore from '@/components/DiscoverMore.astro';
import AboutMeSection from '@/components/AboutMeSection.astro';
---

<Layout title="Edward Akapo">
	<main>
		<Toaster 
			client:idle
			position="top-center"
		/>
		<AboutMeSection />
		<ProjectsSection />
		<GithubIntegration />
		<DiscoverMore />
		<ContactForm />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding-bottom: 10rem;
		padding-top: 10rem;
		max-width: 900px;
		font-family: "Arimo";
		display: flex;
		flex-direction: column;
		row-gap: 150px;
	}
</style>
