---
import Layout from '../layouts/Layout.astro';
import ProjectsSection from '@/components/ProjectsSection.astro';
import '@/styles/globals.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<ProjectsSection />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: 900px;
		font-family: "Arimo";
	}
</style>
