---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import {Toaster} from 'sonner'
import ProjectsSection from '@/components/ProjectsSection.astro';
import GithubIntegration from '@/components/GithubIntegration.astro';
import ContactForm from '@/components/ContactForm.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Toaster 
			client:load
			position="top-center"/>
		<ProjectsSection />
		<GithubIntegration />
		<ContactForm />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding-bottom: 10rem;
		padding-top: 10rem;
		max-width: 850px;
		font-family: "Arimo";
		display: flex;
		flex-direction: column;
		row-gap: 150px;
	}
</style>
