.embla1 {   
    width: fit-content;
    --slide-spacing: 1rem;
    --slide-width : 380px;
  }
  .embla1__viewport {
    overflow: hidden;
    width: fit-content;
  }
  .embla1__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    /* margin-left: calc(var(--slide-spacing) * -1); */
    width: var(--slide-width);
  }
  .embla1__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-width);
    min-width: 0;
    /* padding-left: var(--slide-spacing); */
    /* object-fit: cover; */
  }


@media screen and (max-width : 800px){
  .embla1{

    --slide-width : 350px;
  }
}