  
  .card {
    width: 180px; /* Set a uniform width */
    height: 250px; /* Set a uniform height */
    background-color: #f0f0f0; /* Default background color */
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    justify-content: center;
    transition: width 0.4s ease-in-out ; /* Smooth transitions */
    position: relative;
    z-index: 1; /* Ensure card is above background */
  }
  
  .card.hovered {
    width: 220px; /* Grow width on hover */
    z-index: 2; /* Bring hovered card to front */
  }
.card.non-hovered {
    width: 170px; /* Reduce width of non-hovered cards */
    filter: grayscale(1);
  }
  
