---
import { MainContactForm } from "./ui/ZodHookForm";
---

<section id="contact-form">
    <div 
        class="flex flex-col items-center text-center max-w-[550px] mx-auto mb-10 gap-y-5
            max-[500px]:w-[350px]">
        <h1 class="font-bold text-2xl"> Contact </h1>
        <h2 class="italic text-lg text-gray-600">Want to work together? I thought you'd never ask!</h2>
        <p class="text-[15px]">
            You can get in contact with me for consultation,
             general inquiries, potential volunteer work,
             and more by filling out the form below or emailing
             me at edwardakapo@outlook.com
        </p>
    </div>
    <div class="flex flex-col items-center">
        <MainContactForm client:visible/>
    </div>
</section>