---
import {DiscoverMoreCard , DiscoverMoreCardMobile} from "./ui/DicoverMoreCard"
import '@/styles/cardhover.css'
const discoverMoreData = [
    {
        title : "LinkedIn",
        img : "/LinkedIn.png",
        color : "#32a852",
        url : "https://www.linkedin.com/in/oluwademilade-akapo/",
    },
    {
        title : "Spotify",
        img : "/Spotify.png",
        color : "#32a852",
        url : "https://open.spotify.com/playlist/1rBheTpTWUJBSilTFzn8ri?si=0795e92434c24ef1",
    },
    {
        title : "Twitter",
        img : "/Twitter.png",
        color : "#32a852",
        url : "https://x.com/IamEdwardAkapo",
    },

]
---



<section id="discover-more" >
    <div 
        class="relative group rounded-2xl flex flex-col items-center justify-center bg-light-bg min-h-[500px] max-w-[900px] gap-12 mx-auto
            max-[768px]:w-[350px] max-[768px]:py-6 max-[768px]:px-1 max-[768px]:gap-18">
        <h1 class="text-center text-2xl font-bold tracking-wider">
            Discover More About Me <br/>
            <span class="text-zinc-400"> Across Other Platforms</span>
        </h1>
        <div class="hidden md:block">
            <DiscoverMoreCard  data={discoverMoreData} client:visible/>
        </div>
        <div class="md:hidden">
            <DiscoverMoreCardMobile data={discoverMoreData} client:visible/>
        </div>
    </div>

</section>