---

---


<header class="w-full mb-32 text-center font-noto-sans ">
    <div class="flex flex-col justify-center items-center">
        <div class="mb-14">
            <h1 class="text-[65px] font-bold tracking-widest mb-3">
                EDWARD AKAPO
            </h1>
            <h2 class="text-sm font-semibold text-gray-400 tracking-widewide">
                CANADA BASED FULL STACK DEVELOPER & ENTREPRENEUR
            </h2>
        </div>
        <nav>
            <ul class="flex gap-x-5 tracking-wider text-[15px]">
                <li>ABOUT ME</li>
                <li>PROJECT/PORTFOLIO</li>
                <li>DISCOVER MORE</li>
                <li>GET IN TOUCH</li>
                <li>WORK WITH ME</li>
            </ul>
        </nav>
    </div>

</header>