---
---

<nav class="navbar">
    <ul>
        <li><a href="#about-me" tabindex="1">ABOUT ME</a></li>
        <li><a href="#projects" tabindex="2">PROJECTS/PORTFOLIO</a></li>
        <li><a href="#discover-more" tabindex="3">DISCOVER MORE</a></li>
        <li><a href="#contact-form" tabindex="4">GET IN TOUCH</a></li>
        <li><a href="" tabindex="5">WORK WITH ME</a></li>
    </ul>
</nav>

<style>
    .navbar {
    }
    .navbar ul {
        display: flex;
        column-gap: 1.25rem;
        list-style-type: none;
        padding: 0;
    }
    .navbar a {
        font-size: 0.9375rem;
        letter-spacing: 0.05em;
        text-decoration: none;
        color: inherit;
        transition: color 0.2s ease;
    }
    .navbar a:hover,
    .navbar a.active {
        color: #3EA9AC;
    }

</style>

<script>
    // Select all the navbar links
    const navLinks = document.querySelectorAll<HTMLAnchorElement>('.navbar a');

    // Add click event listener to each link
    navLinks.forEach(link => {
        link.addEventListener('click', function() {
            // Remove active class from all links
            navLinks.forEach(link => link.classList.remove('active'));
            
            // Add active class to the clicked link
            this.classList.add('active');
        });
    });
</script>