---
---

<nav id="navbar" class="navbar">
    <ul>
        <li><a href="#about-me" >ABOUT ME</a></li>
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="#discover-more">DISCOVER MORE</a></li>
        <li><a href="#contact-form">GET IN TOUCH</a></li>
        <li><a href="">WORK WITH ME</a></li>
    </ul>
</nav>

<style>
    .navbar {
        font-family: 'Noto sans';
        width: fit-content;
        margin: auto;
        /* position: fixed; */
        /* translate: -50%;
        left: 50%;
        width: 628px; */
        transition: background 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);


    }
    #navbar.scrolled {
        /* all the code neede to turn the navbar into a black solid nav */ 
        position: fixed;
        left: 50%;
        width: 668px;
        translate: -50%;
        background: #000000;
        z-index: 2;
        height: 40px;
        padding: 0px 20px 0px 20px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        color: #ffffff;
        
        
    }
    .navbar ul {
        display: flex;
        column-gap: 1.9rem;
        list-style-type: none;
        padding: 0;

    }
    .navbar a {
        font-size: 14.5px;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-decoration: none;
        color: inherit;
        transition: color 0.2s ease;
    }
    .navbar a:hover,
    .navbar a.active {
        color: #3EA9AC;
    }

</style>

<script>
    // Select all the navbar links
    const navLinks = document.querySelectorAll<HTMLAnchorElement>('.navbar a');

    // Add click event listener to each link
    navLinks.forEach(link => {
        link.addEventListener('click', function() {
            // Remove active class from all links
            navLinks.forEach(link => link.classList.remove('active'));
            
            // Add active class to the clicked link
            this.classList.add('active');
        });
    });

</script>