---
import SearchProject from "./ui/SearchProject"

---

<section id="projects">

<div class="flex flex-col items-center space-y-4">
    <h1 class="font-bold text-3xl">
        Explore My Past Projects and Professional Work
    </h1>
    <p class="">
        Click any card and get more details
    </p>
</div>
<div id="search-component">
    <SearchProject client:idle/>
</div>


</section>